<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
</head>
<body>
    <h1> Welcome {{ name }}</h1>
    <button>
        <a href="{{url_for('home')}}">Go to home</a>
    </button>
    <form action = "/home" method="post">

        <label>Email</label>
        <input type = "text" name="email">
        <br>
        <Label>password</Label>
        <input type = "password" name = "password">
        <br>
        <button>
            submit
        </button>


        
    </form>



</body>
</html>